<div class="container">
  <div class="jumbotron shadow" style="background-color: #5fbc75;color: whitesmoke;">
    <div class="row">

      <div class="col-sm-8">
        <div class="card-body" style="background-color: inherit;">
          <h2> DogCodes Revisi</h2>
          <h5> v. Lowemongga</h5>
          <p>
            Ini versi revisi dari kodingan sebelumnya yang menggunakan Bootstrap
            dengan Framework Rails dan DBMS Postgresql.
          </p>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="img-thumbnail text-right">
          <img src="/assets/poto.jpg" class="img-thumbnail" style="size: inherit;" alt="Logo DogCodes nya mana njig">
        </div>
      </div>

    </div>
  </div>

  <div style="padding-top: 1%;padding-bottom: 2%;">
    <h3 class="text-center">
      Mau belajar apa hari ini ?
    </h3>
  </div>

  <div class="row">

    <div class="col-sm-3">

      <div class="card shadow">
        <div class="card-header">
          <div class="card-title"> Ruby</div>
        </div>
        <div class="card-body">
          Bahsa pemrograman gampang , lu aja yang ga bisa kampang.
        </div>
        <div class="card-footer">
          <button class="btn btn-dark"> Buka Kelas</button>
        </div>
      </div>
    </div>

    <div class="col-sm-3">

      <div class="card shadow">
        <div class="card-header">
          <div class="card-title"> HTML </div>
        </div>
        <div class="card-body">
          Bahsa markup gampang , lu aja yang ga bisa kampang.
        </div>
        <div class="card-footer">
          <button class="btn btn-dark"> Buka Kelas</button>
        </div>
      </div>
    </div>

    <div class="col-sm-3">

      <div class="card shadow">
        <div class="card-header">
          <div class="card-title"> CSS </div>
        </div>
        <div class="card-body">
          Bahsa pemrograman gampang , lu aja yang ga bisa kampang.
        </div>
        <div class="card-footer">
          <button class="btn btn-dark"> Buka Kelas</button>
        </div>
      </div>
    </div>

    <div class="col-sm-3">

      <div class="card shadow">
        <div class="card-header">
          <div class="card-title"> Javascript </div>
        </div>
        <div class="card-body">
          Bahsa pemrograman gampang , lu aja yang ga bisa kampang.
        </div>
        <div class="card-footer">
          <button class="btn btn-dark"> Buka Kelas</button>
        </div>
      </div>
    </div>

  </div>

  <div>
    <h3 class="text-center" style="padding-top: 3%;padding-bottom: 2%;">
      Ingin bereskplorasi di samudra kodingan
    </h3>
    <div class="jumbotron shadow">

    </div>
  </div>


</div>
